.card{
 border-radius: 20px; width: 300px; height: 400px; 
 position: relative; margin:8px; margin-bottom: 40px; text-align: center;
}
.cardInterno{
 border-radius: 20px; height: 100%;
overflow: hidden;
border: solid 4px SlateBlue; 
background: LightSteelBlue;
}

.cardImage{
 position: relative;
}
.cardImageUp{position:absolute; top:-30px; left:0; z-index: 10; width: 100%; 
}
.cardImageUp img{border-radius: 50%; border:solid 4px white; width: 80%; height: auto; 
box-shadow: black 2px 2px 10px;
}
.cardFranja{
 background: SlateBlue; color: white; position:relative; 
 top:-30px; height: 180px;

}
.cardTitle{
 position: relative; top:-40px
}
.cardID{
 position: absolute; 
 bottom: -20px; 
 left: -15px; 
 background-color: SlateBlue;
 color:white;
 border-radius: 50%;
 font-size: 30px; padding:5px 10px; border:solid 4px white;
}
.linkIcon{
  cursor: pointer;
}
.linkIconRed{
  cursor: pointer; color:red
}

.znDescription{ margin-top: 80px;}

.card:hover .cardImageUp img{
 /* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

animation:rotate-diagonal-right 0.4s;} @keyframes rotate-diagonal-right{0%{transform:rotate3d(1,1,0,0deg)}50%{transform:rotate3d(1,1,0,-180deg)}100%{transform:rotate3d(1,1,0,-360deg)}
}