.header{
 background: linear-gradient(to right, #98c5d8, #411bbd) ;
 color:white; height: 80px;  margin-bottom: 50px;
  border-bottom: solid 2px black;

  display: flex;
  flex-wrap: wrap;
}
.col {
 flex: 1;
}

.logo{position: relative; top: -40px; }
.logo img{
 width: 350px; border:none; border-radius: 0px;
}
.logout{
 position: absolute;
 top:20px;
 right: 20px; 
 cursor:pointer
 
}
.menu{height: 80px; display:flex; align-items: center; justify-content: center;}


@media screen and (max-width: 950px) {
 .header {
  display:grid; grid-template-columns: 1fr 1fr; gap: 0; height: 150px;
  
}
.header img{position: absolute; top:30px}

.col:first-child {
  order: 1;
}
.col:nth-child(2) {
  order: 0;
}
.col:last-child {
  order: 2;
}
 
}